<section class="banner-section">
  <div class="banner-top">
    {% if section.settings.frame %}
      {{
        section.settings.frame
        | image_url: width: 3840
        | image_tag: 
          alt: "Top Frame", 
          class: "banner-top-frame"
      }}
    {% endif %}
  </div>

  <div class="banner-bottom">
    <div class="banner-left">
      <h1 class="banner-heading">{{ section.settings.heading }}</h1>
      <p class="banner-subheading">{{ section.settings.subheading }}</p>
      <p class="banner-subheading-ss">Discover Joy: Your Ultimate Holiday Gift Destination.</p>
      <a href="{{ section.settings.button_link }}" class="banner-button">
        <p class="button-text">{{ section.settings.button_text }}</p>
        <!-- Normal Arrow Image -->
        {% if section.settings.arrow %}
          <img src="{{ section.settings.arrow | image_url: width: 25 }}" alt="Arrow" class="icon-arrow" />
        {% endif %}
        <!-- Hover Arrow Image -->
        {% if section.settings.arrow_hover %}
          <img src="{{ section.settings.arrow_hover | image_url: width: 25 }}" alt="Arrow Hover" class="icon-arrow-hover" />
        {% endif %}
      </a>
      
      
    </div>
    <div class="banner-right">
      {% if section.settings.frame %}
        {{
          section.settings.frame
          | image_url: width: 3840
          | image_tag: 
            alt: "Bottom Frame", 
            class: "banner-bottom-frame"
        }}
      {% endif %}
    </div>
  </div>
</section>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');

  .banner-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* height: 100vh; */
    height: auto;
    overflow: hidden;
  }

  .banner-top {
    flex: 1;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .banner-top img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    object-position: bottom left;
    transform-origin: bottom left;
    height: 50vh;
  }

  .banner-bottom {
    flex: 1;
    display: flex;
    width: 100%;
    position: relative;
  }

  .banner-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: left;
    padding-left: 4%;
    top: 0;
  }

  .banner-heading {
    margin-bottom: 20px;
    font-family: 'Jost', sans-serif;
    font-size: 70px;
    font-weight: 500;
    line-height: 70px;
    text-align: left;
    color: #000;
    margin-top: 3.5rem;
  }

  .banner-subheading {
    /* margin-bottom: 18px; */
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    line-height: 28px;
    text-align: left;
    color: #000;
    width: 100%;
    top: 0;
  }

  .banner-subheading-ss {
    display: none;
  } 

    .banner-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    background-color: #000;
    color: #fff;
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    border: none;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    width: 220px;
    height: 50px;
    z-index: 1;
  }

  .banner-button .button-text {
    flex-grow: 1;
    text-align: center;
    font-size: 15px;
    z-index: 2;
  }

  .banner-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #FFF544;
    z-index: 1;
    transition: left 0.3s ease;
  }

  .banner-button:hover::before {
    left: 0;
  }

  .banner-button:hover {
    color: #000;
  }

  .icon-arrow,
  .icon-arrow-hover {
    width: 28px;
    height: auto;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .icon-arrow {
    opacity: 1;
  }

  .icon-arrow-hover {
    opacity: 0;
    position: absolute;
    right: 30px;
  }

  .banner-button:hover .icon-arrow {
    opacity: 0;
  }

  .banner-button:hover .icon-arrow-hover {
    opacity: 1;
    transform: translateX(5px);
    z-index: 5;
  }

  .banner-right {
    width: 60%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner-right img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: top left;
    z-index: 1; 
    transform-origin: top left;
    transform: scale(1.4);
  }

  .banner-button:hover{
      background-color: #FFF544;
      color: #000;
      opacity: 1;
      transition: background-color 0.3s ease, color 0.3s ease;
      box-shadow: 0px 2px 4px 0px #00000033;
    }

    @media (max-width: 768px) {
  .banner-section {
    height: auto;
  }

  .banner-top {
    display: none;
  }

  .banner-bottom {
    flex-direction: column;
    text-align: center;
    height: auto;
    position: relative; 
  }

  .banner-left {
    text-align: center;
    padding-left: 0;
  }

  .banner-heading {
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .banner-subheading {
    display: none;
  }

  .banner-subheading-ss {
    display: block;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: center;
    color: #000;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }

  .banner-right {
    width: 100%;
    height: auto;
    position: relative; 
  }

  .banner-button {
    width: 193px;
    height: 45px;
    position: absolute; 
    top: 80%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 20px;
    background: #000000;
    color: #fff;
    border: none;
    z-index: 4; 
  }

  .banner-button .arrow {
    font-size: 18px;
    margin-left: 10px;
    transition: transform 0.3s ease, color 0.3s ease;
  }

  .banner-button .button-text {
    font-size: 18px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .banner-right img {
    transform: scale(1.05);
    height: 32vh;
    object-fit: cover;
    object-position: center;

    z-index: 1;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}


</style>

{% schema %}
{
  "name": "Split Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "frame",
      "label": "Top Frame Image"
    },
    {
      "type": "image_picker",
      "id": "arrow",
      "label": "Arrow Image"
    },
    {
      "type": "image_picker",
      "id": "arrow_hover",
      "label": "Arrow Hover Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "The Gift Guide"
    },
    {
      "type": "textarea",
      "id": "subheading",
      "label": "Subheading",
      "default": "Discover your ultimate holiday gift destination."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link",
      "default": "/collections/all"
    }
  ],
  "presets": [
    {
      "name": "Split Banner",
      "category": "Custom"
    }
  ]
}
{% endschema %}
